In [2]:
import pandas as pd
import numpy as np

In [43]:
daegu_df = pd.read_csv("./daegu_cafe.csv",  encoding="utf-8")
gyungsan_df = pd.read_csv("./gyungsan_cafe.csv",  encoding="utf-8")

In [44]:
daegu_df.isnull().sum()

Unnamed: 0      0
사업장명            0
카페이름            0
별점            472
방문자리뷰수        472
블로그리뷰수        472
주소            472
영업시간          472
전화번호          472
연결사이트         472
설명            478
메뉴            472
키워드           472
dtype: int64

In [45]:
gyungsan_df.isnull().sum()

Unnamed: 0.1    0
Unnamed: 0      0
사업장명            0
카페이름            0
별점              0
방문자리뷰수          0
블로그리뷰수          0
주소              0
영업시간            0
전화번호            0
연결사이트           0
설명              0
메뉴              0
키워드             0
dtype: int64

In [140]:
# 두 지역 데이터프레임 합치기
init_df = pd.concat([daegu_df, gyungsan_df])

In [141]:
len(init_df)

7802

In [142]:
init_df.isnull().sum()

Unnamed: 0         0
사업장명               0
카페이름               0
별점               472
방문자리뷰수           472
블로그리뷰수           472
주소               472
영업시간             472
전화번호             472
연결사이트            472
설명               478
메뉴               472
키워드              472
Unnamed: 0.1    7577
dtype: int64

In [143]:
init_df = init_df.drop(columns=["Unnamed: 0", "Unnamed: 0.1"], axis=1)

In [50]:
init_df

,사업장명,카페이름,별점,방문자리뷰수,블로그리뷰수,주소,영업시간,전화번호,연결사이트,설명,메뉴,키워드
0,고산3동 라이크유,우주라이크커피 경산점,4.77,66,초기값,경북 경산시 대학로10길 24 1층,09:00 - 21:00,053-710-8852,https://rlaaofk123.modoo.at,"반갑습니다 : )\n우주라이크 커피 경산점 인사드립니다!\n새롭고, 신선하고, 합리...",공사중,"{'커피가 맛있어요': '20', '친절해요': '16', '디저트가 맛있어요': ..."
1,대명6동 하늘아래,하늘아래사진관,초기값,1,1,대구 남구 계명중앙1길 19,11:00 - 22:00,NO INFO,https://www.facebook.com/photoskyarae/,NO INFO,공사중,리뷰 수 부족
2,대명10동 하늘아래,하늘아래사진관,초기값,1,1,대구 남구 계명중앙1길 19,11:00 - 22:00,NO INFO,https://www.facebook.com/photoskyarae/,NO INFO,공사중,리뷰 수 부족
3,대명11동 하늘아래,하늘아래사진관,초기값,1,1,대구 남구 계명중앙1길 19,11:00 - 22:00,NO INFO,https://www.facebook.com/photoskyarae/,NO INFO,공사중,리뷰 수 부족
4,남산4동 말그미옥상,말그미옥상,4.57,88,154,대구 남구 계명중앙1길 25 2층,12:00 - 20:00,0507-1310-3966,http://www.instagram.com/malgeumi_oksang,'맑음' 이라는 말에서 따온 순 우리말 말그미라는 단어를 사용한 '말그미옥상' 입니다.,공사중,"{'커피가 맛있어요': '34', '대화하기 좋아요': '17', '디저트가 맛있어..."
...,...,...,...,...,...,...,...,...,...,...,...,...
220,동부동 팬도로시대구한의대점,팬도로시대구한의대점,4.61,699,초기값,경북 경산시 한의대로 1,NO INFO,053-813-3575,NO INFO,"""NO INFO""",공사중,"""{'커피가 맛있어요': '108', '가성비가 좋아요': '93', '음료가 맛있..."
221,남산면 파스마,파스마,초기값,2050,623,경북 경산시 한의대로 96 파스마카페,09:00 - 22:30\n22:00 라스트오더,070-7722-2222,https://www.instagram.com/pasma_cafe.official/...,"""탁 트인 넓은 공간에서 취향에 맞는 커피와 아침마다 구 워내는 베이커리류, 디저트...",공사중,"""{'커피가 맛있어요': '511', '디저트가 맛있어요': '425', '뷰가 좋..."
222,남산면 카페아델라인,카페아델라인,4.34,221,137,경북 경산시 화랑로 46,NO INFO,0507-1375-6261,http://www.instagram.com/cafe__adaline/,"""저희매장은 *간단한 식사메뉴 브런치*도 함께하고 있으며,\n'스페셜티 원두'만 사...",공사중,"""{'커피가 맛있어요': '43', '뷰가 좋아요': '27', '친절해요': '2..."
223,용성면 코스모스커피,코스모스커피,4.43,150,22,경북 청도군 금천면 금천로 718-3,10:00 - 18:00,054-373-8288,NO INFO,"""NO INFO""",공사중,"""{'커피가 맛있어요': '26', '친절해요': '20', '주차하기 편해요': ..."
224,남천면 퍼시몬9,Persimmon9,초기값,509,155,경북 청도군 화양읍 송금길 46-80,NO INFO,0507-1345-1717,https://www.instagram.com/persimmon._9,"""청도 와인터널에서 5분 이내, 물길이 흐르고 어린이 물놀이장이 있는 대형 브런치 ...",공사중,"""{'뷰가 좋아요': '270', '커피가 맛있어요': '209', '친절해요': ..."

In [144]:
# 주소 컬럼이 결측치인 행 삭제
init_df = init_df.dropna(subset=["주소"])

In [146]:
init_df.describe()

,사업장명,카페이름,별점,방문자리뷰수,블로그리뷰수,주소,영업시간,전화번호,연결사이트,설명,메뉴,키워드
count,7330,7330,7330,7330,7330,7330,7330,7330,7330,7324,7330,7330
unique,7319,3440,115,893,380,3427,494,3241,1458,2009,2,2972
top,구지면 카페솔례단길,초기값,초기값,초기값,초기값,초기값,초기값,초기값,초기값,초기값,공사중,초기값
freq,2,3516,5121,3516,4417,3516,3516,3516,3516,3516,3814,3516

In [150]:
# 주소가 초기값인 카페는 삭제
init_df = init_df[init_df['주소'] != "초기값"]

In [156]:
# "초기값", "NO INFO"와 같은 결측치를 0 or 빈 문자열로 대체
init_df[['별점', '방문자리뷰수', '블로그리뷰수']] = init_df[['별점', '방문자리뷰수', '블로그리뷰수']].replace(["초기값", "검색결과 없음", "NO INFO"], "0")
init_df["메뉴"] = init_df["메뉴"].replace(["공사중"], "NO INFO")
init_df["키워드"] = init_df["키워드"].replace(["리뷰 수 부족"], "{}")

In [164]:
init_df.describe()

,사업장명,카페이름,별점,방문자리뷰수,블로그리뷰수,주소,영업시간,전화번호,연결사이트,설명,메뉴,키워드
count,3814,3814,3814,3814,3814,3814,3814,3814,3814,3808,3814,3814
unique,3804,3439,115,892,380,3426,493,3240,1457,2008,1,2971
top,구지면 369떡카페,카페인,0,6,0,대구 동구 동대구로 550,NO INFO,NO INFO,NO INFO,NO INFO,NO INFO,{}
freq,2,7,1605,39,901,7,1364,344,1908,1433,3814,644

In [169]:
# 각 컬럼 타입 확인 후 컬럽 타입 변환
init_df.info()
init_df['별점'] = pd.to_numeric(init_df['별점'], errors="coerce")
init_df['방문자리뷰수'] = pd.to_numeric(init_df['방문자리뷰수'], errors="coerce")
init_df['블로그리뷰수'] = pd.to_numeric(init_df['블로그리뷰수'], errors="coerce")

<class 'pandas.core.frame.DataFrame'>
Index: 3814 entries, 0 to 224
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사업장명    3814 non-null   object
 1   카페이름    3814 non-null   object
 2   별점      3814 non-null   float64
 3   방문자리뷰수  3814 non-null   int64
 4   블로그리뷰수  3814 non-null   int64
 5   주소      3814 non-null   object
 6   영업시간    3814 non-null   object
 7   전화번호    3814 non-null   object
 8   연결사이트   3814 non-null   object
 9   설명      3808 non-null   object
 10  메뉴      3814 non-null   object
 11  키워드     3814 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 387.4+ KB

In [171]:
# 주소가 동일한 카페 확인
# (init_df[["사업장명", "주소"]].groupby('주소').count() > 1)
# init_df.groupby('사업장명').size()
init_df[init_df.duplicated(["주소", "전화번호", "카페이름"], keep=False)].describe()

               별점       방문자리뷰수       블로그리뷰수
count  651.000000   651.000000   651.000000
mean     2.781935   197.929339    49.748080
std      2.221414   345.664503   142.651845
min      0.000000     1.000000     0.000000
25%      0.000000    35.000000     0.000000
50%      4.380000    88.000000     6.000000
75%      4.570000   213.000000    34.000000
max      5.000000  3371.000000  1507.000000

In [129]:
init_df.groupby(["주소", "전화번호"]).agg({
    '별점': 'mean',
    '방문자'
})

SyntaxError: ':' expected after dictionary key (1086164022.py, line 3)

In [170]:
init_df

,사업장명,카페이름,별점,방문자리뷰수,블로그리뷰수,주소,영업시간,전화번호,연결사이트,설명,메뉴,키워드
0,고산3동 라이크유,우주라이크커피 경산점,4.77,66,0,경북 경산시 대학로10길 24 1층,09:00 - 21:00,053-710-8852,https://rlaaofk123.modoo.at,"반갑습니다 : )\n우주라이크 커피 경산점 인사드립니다!\n새롭고, 신선하고, 합리...",NO INFO,"{'커피가 맛있어요': '20', '친절해요': '16', '디저트가 맛있어요': ..."
1,대명6동 하늘아래,하늘아래사진관,0.00,1,1,대구 남구 계명중앙1길 19,11:00 - 22:00,NO INFO,https://www.facebook.com/photoskyarae/,NO INFO,NO INFO,{}
2,대명10동 하늘아래,하늘아래사진관,0.00,1,1,대구 남구 계명중앙1길 19,11:00 - 22:00,NO INFO,https://www.facebook.com/photoskyarae/,NO INFO,NO INFO,{}
3,대명11동 하늘아래,하늘아래사진관,0.00,1,1,대구 남구 계명중앙1길 19,11:00 - 22:00,NO INFO,https://www.facebook.com/photoskyarae/,NO INFO,NO INFO,{}
4,남산4동 말그미옥상,말그미옥상,4.57,88,154,대구 남구 계명중앙1길 25 2층,12:00 - 20:00,0507-1310-3966,http://www.instagram.com/malgeumi_oksang,'맑음' 이라는 말에서 따온 순 우리말 말그미라는 단어를 사용한 '말그미옥상' 입니다.,NO INFO,"{'커피가 맛있어요': '34', '대화하기 좋아요': '17', '디저트가 맛있어..."
...,...,...,...,...,...,...,...,...,...,...,...,...
220,동부동 팬도로시대구한의대점,팬도로시대구한의대점,4.61,699,0,경북 경산시 한의대로 1,NO INFO,053-813-3575,NO INFO,"""NO INFO""",NO INFO,"""{'커피가 맛있어요': '108', '가성비가 좋아요': '93', '음료가 맛있..."
221,남산면 파스마,파스마,0.00,2050,623,경북 경산시 한의대로 96 파스마카페,09:00 - 22:30\n22:00 라스트오더,070-7722-2222,https://www.instagram.com/pasma_cafe.official/...,"""탁 트인 넓은 공간에서 취향에 맞는 커피와 아침마다 구 워내는 베이커리류, 디저트...",NO INFO,"""{'커피가 맛있어요': '511', '디저트가 맛있어요': '425', '뷰가 좋..."
222,남산면 카페아델라인,카페아델라인,4.34,221,137,경북 경산시 화랑로 46,NO INFO,0507-1375-6261,http://www.instagram.com/cafe__adaline/,"""저희매장은 *간단한 식사메뉴 브런치*도 함께하고 있으며,\n'스페셜티 원두'만 사...",NO INFO,"""{'커피가 맛있어요': '43', '뷰가 좋아요': '27', '친절해요': '2..."
223,용성면 코스모스커피,코스모스커피,4.43,150,22,경북 청도군 금천면 금천로 718-3,10:00 - 18:00,054-373-8288,NO INFO,"""NO INFO""",NO INFO,"""{'커피가 맛있어요': '26', '친절해요': '20', '주차하기 편해요': ..."
224,남천면 퍼시몬9,Persimmon9,0.00,509,155,경북 청도군 화양읍 송금길 46-80,NO INFO,0507-1345-1717,https://www.instagram.com/persimmon._9,"""청도 와인터널에서 5분 이내, 물길이 흐르고 어린이 물놀이장이 있는 대형 브런치 ...",NO INFO,"""{'뷰가 좋아요': '270', '커피가 맛있어요': '209', '친절해요': ..."